{% extends "base.html" %}
{% block content %}
    <h1>Welcome to the Casino</h1>
    <p>Let's go gambling!</p>
    <button onclick="window.location.href='/login'">Login</button>
    <button onclick="window.location.href='/createaccount'">Create Account</button>
    <button onclick="window.location.href='/userdata'">View User Data</button>
    <button onclick="window.location.href='/blackjack'">Play Blackjack</button>
    <button onclick="window.location.href='/roulette'">Play Roulette</button>
    <button onclick="window.location.href='/sportsbetting'">Sports Betting</button>
{% endblock %}